* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: none;
    color: white;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.header-container {
    width: 100%;
    height: 40px;
    background-color: #4646bb;
}

header {
    width: 50%;
    height: 40px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 512px
}

nav {
    width: calc(100% - 190px);
    display: flex;
    justify-content: space-between;
}

.nav-mobile {
    display: none;
}

.search-bar {
    width: 150px;
    position: relative;
}

.search-bar input {
    width: 100%;
    height: 20px;
    outline: none;
    color: black;
    border-radius: 3px;
    border: none;
    padding: 3px;
}

.search-bar i {
    position: absolute;
    right: 3px;
    top: 4px;
    color: black;
    cursor: pointer;
}

/* scss */

@media screen and (max-width: 576px) {
    nav {
        display: none;
    }

    .nav-mobile {
        display: block;
    }

    header {
        width: 100%;
        margin: unset;
        padding: 0 16px;
    }
}