/* p {
    color: blue;
}

#red-txt {
    color: red;
}

.purple-txt {
    color: purple;
} */

#circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: red;
}

#circle.bg-blue {
    background-color: blue;
}

